/.buildpath
/.svn
/.externalToolBuilders/
/.project
/.settings/
/.idea
/build/rome/builds/
/cache/*
/custom/application
/custom/working
/custom/history
/custom/modulebuilder
/custom/blowfish
/custom/modules/*/Ext
/custom/modules/ActivityStream/Activities/Ext
/custom/modules/unified_search_modules_display.php
/portal2/config.js
/config.php
/config_override.php
/upload/*
!/upload/quirin-logo.png
!/upload/logo.png
!/upload/sign_image.png
!/upload/sign_image2.png
/.htaccess
/*.log
/*.txt
/*.sql
/icc_logs
/nbproject
/start_cron.php
/repair.php
/custom/modules/pmse_Project/*/Ext
custom/ICCDeployment/data/ExecuteSql/*/ignore
custom/ICCDeployment/data/ignore
